.container {
    position: relative;
}

.container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.center {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
}

.title {
    color: #eee;
    font-size: 60px;
    font-weight: 700;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: #eee;
    color: #333;
    border-radius: 3px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}